<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <br/><br/>

        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
        
    <% end %>
    <button class="btn btn-large btn-primary" style="float:left;" onclick='askforpassword()'>Forgot password?</button>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>

<script type="text/javascript">

function askforpassword()
{
   
    var emailaddress=document.getElementById('session_email').value;
    $.post('/sendpass',{email:emailaddress},'');
    alert("New password sent");
}   
</script>
