<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>

        <%= render 'shared/error_messages' %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= label_tag(:q, "Enter confirmation code") %>
        <%= text_field_tag(:q) %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Password Confirmation" %>
        <%= f.password_field :password_confirmation %>

        <br/><br/>

        <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
        <button class="btn btn-large btn-primary" style="float:right;" onclick='askforemail()'>Send confirmation code</button>
    <% end %>

  </div>
</div>
<script type="text/javascript">

function askforemail()
{
   
    var emailaddress=document.getElementById('user_email').value;
    if(emailaddress.indexOf( "iit.edu" ) > -1 )
    {
        $.post('/sendemail',{email:emailaddress},'');
    }
    else
    {
        alert("Not an iit.edu e-mail");
    }
}   
</script>
