<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("iit_logo.png", alt:"IIT Websites"), "http://www.iit.edu", id: "logo_image"%>
      <%= link_to "IIT Marketplace", root_path, id: "logo" %>
        <ul class="nav pull-right">
          <% if signed_in? %> 
            <li><%= link_to current_user.name, user_path(current_user.id)%></li>
          <% end %>
          <li><%= link_to image_tag("homepage_out.png", mouseover: "homepage_over.png",alt: "Homepage"), adverts_path %></li>
          <% if signed_in? %>
              <li><%= link_to image_tag("sign in_out.png", alt:"Sign in or Sign out"), signout_path, method: :delete %></li>
          <% else %>
              <li><%= link_to image_tag("sign in_out.png", alt:"Sign in or Sign out"), signin_path %></li>
          <% end %>
        </ul>
    </div>
  </div>
</header>